* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f2;
  }
  
  .content{
    background-color: #fff;
    border-radius: 15px;
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
h1{
    color:#080808 ;
}
.btnCadastrar{
    margin: 20px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #ba68c8;
    height: 40px;
    padding: 0 30px;
  }
  
  .btnCadastrar:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #83498c;
  }
  