* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    
}
.home{
    margin-top: 16px;
    margin-left: 55px;
}
.login{
    margin-top: 16px;
    margin-left: 100px;
}

li {
    float: left;
    margin-top: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color:#6056c9;
}

li .home{
    color: #6056c9;
}
.conteudo {
    width: 90%;
    height: 70%;
    top: 25%;
    left: 50px;
    position: absolute;
}

.descricao {
    width: 40%;
    float: left;
}

.descricao h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 20px;
}

.descricao p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 20px;
    line-height: 25px;
    color: #b6b6b6;
}

.cadastro{
    border: none;
    width: 30%;
    height: 50px;
    margin-top: 50px;
    margin-left: 40%;
    border-radius: 30px;
    color: white;
    background: #ba68c8;
}

.imagem{
    width: 60%;
    float: right;
}

.imagem img {
    width: 100%;
    margin-top: -180px;
    margin-left: 90px;
    background-size: cover;

}






