* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: #59069cc7;
}
.container{
    width: 60%;
    margin-top: 10px;
    width: 700px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #dee0df;
    text-align: center;
}

.button.new {
    text-decoration:none;
}

.form{
    margin-top:10px;
    margin-bottom: 10px;
   
}

.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modall {
    width: 30%;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

